body {
    background-color: #1e1e1e;
    color: whitesmoke;
}
#game {
    /* widthCase * 28 */
    width: 560px;
    /* heigthCase * 28 */
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    margin: auto;
}
#score {
    text-align: center;
}
#game div {
    width: 20px;
    height: 20px;
}
#game div.mur{
    background-color: #3C5097;
}
#game div.point{
    background-color: #FFDEDB;
    border-radius: 50%;
    border: rgb(0, 0, 0) solid 7px;
    box-sizing: border-box;
}
#game div.fantome-area{
    background-color: #EEACD2;
}
#game div.point-puissance{
    background-color: #F8AD90;
    border-radius: 50%;
    border: rgb(5, 5, 5) solid 3px;
    box-sizing: border-box;
}
#game div.pacman{
    background-color: #ffee00;
    border-radius: 50%;
    border: black solid 1px;
    box-sizing: border-box;
}